<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">
        <a href="{% url 'home' %}"><img src="{% static 'images/enter_logo.png' %}" alt="company-logo"></a>
        <div class="info">
            <h3><a href="{% url 'home' %}">Saraswati Enterprises</a></h3>
            <p>Quality matters not quantity</p>
        </div>
    </div>
    <div class="search">
        <form enctype="multipart/form-data" method="post" id="invoice-form">
            {% csrf_token %}
            <input name="bill_no" type="text" placeholder="Type bill no to search" id="invoice-search">
            <input name="year" placeholder="year" type="text" id="invoice-year">
            <i class="fa fa-search" id="invoice-submit"></i>
        </form>
    </div>
    <ul class="categories">
        <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> About us</a>
            <ul class="side-nav-dropdown">
                <li><a href="#">Overview</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Our Customers</a></li>
                <li><a href="#">Our Mission</a></li>
            </ul>
        </li>
        <li><i class="fa fa-support fa-fw"></i><a href="#">Invoice</a>
            <ul class="side-nav-dropdown">
                <li><a href="{% url 'bill:bill-section' %}">View Recent Bills</a></li>
                <li><a href="{% url 'bill:create' %}">Create Invoice</a></li>
                <li><a href="#">dolor ipsum</a></li>
                <li><a href="#">amet consectetur</a></li>
                <li><a href="#">ipsum dolor sit</a></li>
            </ul>
        </li>
        <li><i class="fa fa-envelope fa-fw"></i><a href="#"> Product Management</a>
            <ul class="side-nav-dropdown">
                <li><a href="{% url 'inventory:current' %}">Products List</a></li>
                <li><a href="#">ipsum dolor</a></li>
                <li><a href="#">dolor ipsum</a></li>
                <li><a href="#">amet consectetur</a></li>
                <li><a href="#">ipsum dolor sit</a></li>
            </ul>
        </li>
        <li><i class="fa fa-users fa-fw"></i><a href="#"> Our team</a>
            <ul class="side-nav-dropdown">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">ipsum dolor</a></li>
                <li><a href="#">dolor ipsum</a></li>
                <li><a href="#">amet consectetur</a></li>
                <li><a href="#">ipsum dolor sit</a></li>
            </ul>
        </li>
        <li><i class="fa fa-bolt fa-fw"></i><a href="#"> Testimonials</a>
            <ul class="side-nav-dropdown">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">ipsum dolor</a></li>
                <li><a href="#">dolor ipsum</a></li>
                <li><a href="#">amet consectetur</a></li>
                <li><a href="#">ipsum dolor sit</a></li>
            </ul>
        </li>
        <p>Example:</p>
        <li><i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Messages <span class="num dang">56</span></a></li>
        <li><i class="fa fa-wrench fa-fw"></i><a href="#"> Settings <span class="num prim">6</span></a>
            <ul class="side-nav-dropdown">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">ipsum dolor</a></li>
                <li><a href="#">dolor ipsum</a></li>
                <li><a href="#">amet consectetur</a></li>
                <li><a href="#">ipsum dolor sit</a></li>
            </ul>
        </li>
        <li><i class="fa fa-laptop fa-fw"></i><a href="#"> About UI &amp; UX <span class="num succ">43</span></a></li>
        <li><i class="fa fa-comments-o fa-fw"></i><a href="#"> Something else</a></li>
    </ul>
</aside>
<section id="contents">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-align-right"></i>
                </button>
                <a class="navbar-brand" href="#">my<span class="main-color">Dashboard</span></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">My profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                            <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
                    <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
                    <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Welcome to Admin</h2>
                        <p>Create ,View and Analyse easliy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="statistics">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <i class="fa fa-envelope fa-fw bg-primary"></i>
                        <div class="info">
                            <h3>1,245</h3> <span>Products</span>
                            <p>Varity of Products.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <i class="fa fa-file fa-fw danger"></i>
                        <div class="info">
                            <h3>34</h3> <span>Buyer's</span>
                            <p>Trusted Clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <i class="fa fa-users fa-fw success"></i>
                        <div class="info">
                            <h3>5,245</h3> <span>Sales</span>
                            <p>Gross Sales</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="charts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="chart-container">
                        <h3>Recent 10 Orders</h3>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chart-container">
                        <h3>Annual Sales</h3>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="admins">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <h3>Director:</h3>
                        <div class="admin">
                            <div class="img">
                                <img class="img-fluid"
                                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance"
                                     alt="admin">
                            </div>
                            <div class="info">
                                <h3>Bashisth Chaudhary</h3>
                                <p>Be creative and smart.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <h3>Manager:</h3>
                        <div class="admin">
                            <div class="img">
                                <img class="img-fluid"
                                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
                                     alt="admin">
                            </div>
                            <div class="info">
                                <h3>Abhishek Chaudhary</h3>
                                <p>Everything changes, so keep learning.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='statis text-center'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="box bg-primary">
                        <i class="fa fa-eye"></i>
                        <h3>5,154</h3>
                        <p class="lead">Page views</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box danger">
                        <i class="fa fa-user-o"></i>
                        <h3 id="items_sold"></h3>
                        <p class="lead">Item sold</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box warning">
                        <i class="fa fa-shopping-cart"></i>
                        <h3 id="total_sales"></h3>
                        <p class="lead">Product sales</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box success">
                        <i class="fa fa-handshake-o"></i>
                        <h3 id="transaction-made"></h3>
                        <p class="lead">Invoices Made</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="chrt3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="chart-container">
                        <canvas id="chart3" width="100%"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
<script src="{% static 'js/Chart.js' %}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>#}
<script src="{% static '/js/dashboard.js' %}"></script>

</body>
</html>